<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Proyectos Realizados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Proyectos realizados</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="1 container">
    <h1>Magic Parking</h1>
    <img src="./assets/magic.PNG">
  </div>
  <div class="2 container">
    <h1>Pumas D.C</h1>
    <img src="./assets/pumas.PNG">
  </div>

</ion-content>
